{% extends "base.html" %}
{% block title %}Pixel О нас{% endblock %}
{% block main %}
<h3>
    О нас
</h3>
<p style="text-align: justify;">
    «Пиксель» — электронная площадка для размещения товаров и услуг. Основана в 2005 году.
На сегодняшний день «Пиксель» предлагает покупателям ассортимент из более чем 100 000 товаров, 2 500 покупок техники в среднем в день совершается на сайте, а постоянный штат сотрудников компании насчитывает более 500 человек.
Основными товарными направлениями являются: фототехника и видеотехника, объективы и вспышки, студийное оборудование.
Команда «Пиксель» ждет ваших вопросов, предложений и пожеланий:
</p>
<ul style="text-align: left;">
    <li>
        в нашей группе ВКонтакте
    </li>
    <li>
        по телефону +7 (812) 3855539
    </li>
    <li>
        в форме онлайн-консультанта в нижнем правом углу сайта
    </li>
    <li>
        по электронной почте order@pixel.ru
    </li>
    <li>
        по вопросам комментариев для прессы press@ pixel.ru
    </li>
</ul>
<div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/195/ulyanovsk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Ульяновск</a><a href="https://yandex.ru/maps/195/ulyanovsk/house/2_y_pereulok_mira_24/YEEYdQ5nQUAOQFtufX9zcHxmZQ==/?indoorLevel=1&ll=48.397859%2C54.321051&utm_medium=mapframe&utm_source=maps&z=17.08" style="color:#eee;font-size:12px;position:absolute;top:14px;">2-й переулок Мира, 24 — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=48.397859%2C54.321051&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgk3NzQ2NTAxNjUSRNCg0L7RgdGB0LjRjywg0KPQu9GM0Y_QvdC-0LLRgdC6LCAyLdC5INC_0LXRgNC10YPQu9C-0Log0JzQuNGA0LAsIDI0IgoNaJdBQhXCSFlC&z=17.08" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
{% endblock %}