{% extends "base.html" %}
{% block title %}Pixel Контакты{% endblock %}
{% block main %}
<h3>
    Контакты
</h3>
<p style="text-align: justify;">
    <b>Мы в соцсетях:</b><br>
Вконтакте / YouTube / Telegram / Яндекс.Дзен
</p>
<p style="text-align: justify;">
    <b>Адрес:</b><br>
432011, г.Ульяновск, Мира 2-й переулок, 24 Центр м-н, Ленинский район. (вход с торца здания, ориентир вывеска Игра на гитаре, 4 подъезд, 2-й этаж)
<div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/195/ulyanovsk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Ульяновск</a><a href="https://yandex.ru/maps/195/ulyanovsk/house/2_y_pereulok_mira_24/YEEYdQ5nQUAOQFtufX9zcHxmZQ==/?indoorLevel=1&ll=48.397859%2C54.321051&utm_medium=mapframe&utm_source=maps&z=17.08" style="color:#eee;font-size:12px;position:absolute;top:14px;">2-й переулок Мира, 24 — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=48.397859%2C54.321051&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgk3NzQ2NTAxNjUSRNCg0L7RgdGB0LjRjywg0KPQu9GM0Y_QvdC-0LLRgdC6LCAyLdC5INC_0LXRgNC10YPQu9C-0Log0JzQuNGA0LAsIDI0IgoNaJdBQhXCSFlC&z=17.08" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
</p>
<p style="text-align: justify;">
    <b>На территории комплекса имеется стоянка для посетителей на автомобиле, первые 30 минут бесплатно, далее каждый час - 100 р.</b><br>
Оплата производится по пропуску в нашей кассе перед выездом со стоянки.<br>
<b>РЕЖИМ РАБОТЫ МАГАЗИНА:</b><br>
пн-пт. с 10:00 до 19:00<br>
сб-вс. и праздничные дни с 10:00 до 18:00<br>
<b>РЕЖИМ РАБОТЫ ИНТЕРНЕТ-МАГАЗИНА</b><br>
пн-пт. с 10:00 до 21:00<br>
сб-вс. и праздничные дни с 10:00 до 18:00<br>
Телефоны:  8 (842) 385-55-39, 15-02-80<br>
</p>
{% endblock %}