{% extends "base.html" %}
{% block title %}Pixel Доставка{% endblock %}
{% block main %}
<h3>
    Доставка и оплата
</h3><br>
<p style="text-align: justify;">
    <b>Курьерская доставка</b><br>
    Стоимость доставки не зависит от габаритов вашего товара. Более точные данные Вы увидите при оформлении заказа или после согласования с оператором Колл-центра.
</p>
<p style="text-align: justify;">
    <b>Время и место доставки</b><br>
Доставка заказов осуществляется курьерами в течение дня с 10:00 до 19:00<br>
В Ульяновске доставка осуществляется в течение дня в 2 временных промежутка с 10:00 до 18:00 или с 18:00 до 21:00<br>
Доставка к определённому времени невозможна, курьер свяжется с Вами в день доставки за 1 час до приезда<br>
При доставке на территорию с оплачиваемым въездом, вы оплачиваете стоимость въезда (иначе доставка возможна только до места платного въезда)<br>
При оформлении заказа с предоплатой на сумму от 50 000 руб. получение товара возможно только при предъявлении курьеру документа удостоверяющего личность<br>
Просим обратить внимание, что курьер не может ожидать вас по указанному адресу более 15 минут<br>
В случае, если вы по какой-либо причине не можете быть по адресу в день доставки, необходимо заранее связаться с Колл-центром и сообщить об этом. Иначе перенос доставки после прибытия курьера по указанному адресу будет считаться повторной доставкой и оплачиваться будет повторно<br>
</p>
<p style="text-align: justify;">
    <b>Доставка дорогостоящих заказов</b><br>
Доставка дорогостоящих заказов возможна при оплате курьеру через терминал. Получение товара возможно только при предъявлении курьеру документа удостоверяющего личность.
Что относится к дорогостоящим заказам:<br>
- для Ульяновска – от 50 000 руб.
</p>
{% endblock %}