{% extends "base.html" %}
{% load static %}
{% block title %}PixelГарантия{% endblock %}
{% block main %}
<h3>
    Гарантии
</h3>
<p style="text-align: justify;">
    Пиксель осуществляет продажу товаров в соответствии с законом «О защите прав потребителей» и данными правилами продажи и обмена/возврата товара. В отдельных случаях могут действовать иные договоренности.
Пиксель предоставляет гарантию на всю продаваемую продукцию; гарантийное обслуживание техники производится в авторизованных сервисных центрах. Гарантия от производителя позволяет вам обращаться за обслуживанием в сервисные центры напрямую.
В случае гарантийного обращения через наш магазин: прием и выдача товаров осуществляется в часы работы отдела сервиса, по будням с 10:00 до 19:00. Возврат, обмен и прием на гарантийный ремонт товара производится при наличии Гарантийных талонов, а также документов, подтверждающих покупку товара – кассового или товарного чека.
</p>
<img src="{%static "img/1.png"%}" />
{% endblock %}