{% extends "base.html" %}
{% block title %}Pixel Условия возврата{% endblock %}
{% block main %}
<h3>
    Возврат
</h3>
<p style="text-align: justify;">
    Внимательно ознакомьтесь со следующей информацией:</br>
    1. Если купленный у нас товар оказался товаром ненадлежащего качества, Пиксель несет ответственность перед покупателем согласно закону «О защите прав потребителей».</br>
    2. Если купленный вами товар является товаром надлежащего качества и не относится к технически сложным товарам, но не подошел вам по каким-либо параметрам, вы можете вернуть или обменять его в течение 14 (четырнадцати) дней, не считая дня его покупки!</br>
    <b>ВАЖНО! Товар должен находиться в надлежащем состоянии - вещь не была в употреблении, упаковка не повреждена, все пломбы и ярлыки сохранены.</b></br>
    3. Если товар был поврежден после покупки по вине покупателя из-за нарушения условий эксплуатации, хранения или транспортировки, а также из-за действий других людей или чрезвычайных обстоятельств, обмен или возврат такого товара не производится.</br>
    4. Технически сложные товары, полный перечень которых установлен постановлением Правительства РФ от 10.11.2011 N 924, в случае обнаружения неисправностей можно вернуть или обменять в течение 15 дней со дня покупки.</br>
    По истечении 15 дней возврат или обмен возможен в трех случаях:</br>
    •	если обнаружен серьезный дефект;</br>
    •	если дефект не был устранен в установленные Законом сроки;</br>
    •	если из-за многократного устранения дефектов товар невозможно было использовать в общей сложности более 30 дней в течение каждого года гарантийного срока.</br>
    5. После того как товар поступил в распоряжение покупателя, считается, что Пиксель исполнил обязанности по передаче товара покупателю.</br>
    6. При отсутствии иных договоренностей или акций доставка товара оплачивается покупателем.</br>
    7. Если покупатель отказывается принять приобретенный товар в оговоренные сроки, это считается нарушением договора купли-продажи. В таком случае Пиксель может потребовать, чтобы покупатель принял товар, или отказаться от исполнения договора купли-продажи.</br>
    8. Вы можете обменять или вернуть товар, купленный в Пиксель, непосредственно в том магазине сети на территории Российской Федерации, в котором данный товар приобретен. Условия обмена и возврата одинаковы для всех магазинов.</br>
    9. При возврате товара денежные средства возвращаются тем способом, которым были внесены:</br>
    •	если вы оплачивали по кредитной карте, сумма вернется на кредитную карту;</br>
    •	если делали банковский перевод – деньги вернутся на ваш банковский счет.</br>
    В зависимости от способа оплаты, поступление денежных средств клиенту может занять до 10 дней.  </br>
    <hr>
</p>
<p style="text-align: justify;">
    <b>Условия возврата или обмена товара надлежащего качества в срок не более 7 дней с момента покупки.</b><br>
    Совершив покупку в нашем магазине, Вы вправе отказаться от товара в любое время до его передачи Вам, а после передачи товара в течение 7 дней. Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ,
    подтверждающий факт и условия покупки указанного товара (Статья 26.1 ЗоЗПП "Дистанционный способ продажи товара"). Обмен товара надлежащего качества может быть произведён, если указанный товар не был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы, 
    фабричные ярлыки, защитные пленки, а также документ, подтверждающий факт и условия покупки указанного товара (товарный или кассовый чек) (Статья 25 ЗоЗПП "Право потребителя на обмен товара надлежащего качества").<br>
</p>
<p style="text-align: justify;">
    <b>Условия возврата или обмена товара надлежащего качества в срок не более 14 дней с момента покупки.</b><br>
    Если купленный Вами товар не подошел Вам по размеру, цвету, функциональным возможностям, наш магазин готов обменять Вам не подошедший товар. Также обращаем Ваше внимание на то, что большинство товара из ассортимента, 
продаваемого в нашем магазине, относится к технически сложному товару и не подлежит возврату или обмену на аналогичный товар других размера, формы, габарита, расцветки или комплектации (На основании «Перечень непродовольственных товаров надлежащего качества, не подлежащих обмену»).<br>
</p>
<p style="text-align: justify;">
    <b>Условия возврата или обмена товара ненадлежащего качества.</b><br> В случае возврата или обмена товара ненадлежащего качества, приобретенного потребителем все отношения регулируются статьей 24 ЗоЗПП "Расчеты с потребителем в случае приобретения им товара ненадлежащего качества". Также обращаем ваше внимание на тот факт, что при замене товара 
ненадлежащего качества на товар этой же марки (модели и/или артикула) перерасчет цены товара не производится (Пункт в ред. Федерального закона от 25 октября 2007г. №234-ФЗ.) При возврате товара ненадлежащего качества отдел сервиса \ магазин вправе провести проверку качества товара (Абзац в ред. Федерального закона от 25 октября 2007г. №234-ФЗ.) 
Требование потребителя подлежит удовлетворению продавцом в течении 10 дней со дня предъявления соответствующего требования (Статья 22 ЗоЗПП "Сроки удовлетворения отдельных требований потребителя").
</p>
{% endblock %}